* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.loader_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 6, 34);
}
.loader_Container p {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Antonio", sans-serif;
} /* Loader.css */
/* Loader.css */
.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.loader p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  color: white;
  margin-top: 2rem;
}
.car__body {
  animation: shake 0.3s ease-in-out infinite alternate;
  stroke: #ffffff; /* Increase animation speed */
}

.car__line {
  transform-origin: center right;
  stroke-dasharray: 22; /* Adjusted to match the larger size */
  animation: line 1s ease-in-out infinite; /* Increase animation duration */
  animation-fill-mode: both;
  stroke: #ffffff;
}

.car__line--top {
  animation-delay: 0s;
}

.car__line--middle {
  animation-delay: 0.2s;
}

.car__line--bottom {
  animation-delay: 0.4s;
}
.car__wheel--left,
.car__wheel--right {
  stroke: #ffffff; /* Make the outline of the wheels white */
}

@keyframes shake {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(3%);
  }
}

@keyframes line {
  0% {
    stroke-dashoffset: 22;
  }
  25% {
    stroke-dashoffset: 22;
  }
  50% {
    stroke-dashoffset: 0;
  }
  51% {
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: -22;
  }
  100% {
    stroke-dashoffset: -22;
  }
}
