/* /////Start Quiz */

.quizStartDiv{
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.startQuizSection{
 
   box-shadow: 0 0 10px #ccc ;
   text-align: center;
   padding: 4rem;
   font-family: "Roboto", sans-serif;
}
.startQuizSection h2{
  font-size: 1.9rem;
  font-weight: 300;
  margin: 2rem 0px;
}
.startQuizSection h3{
  font-size: 1.9rem;
  font-weight: 300;
  margin: 1.5rem 0px;
}
.startQuizSection p{
  margin: 1rem 0px;
  font-size: 16px;
  font-weight: 300;
}
.startQuizSection button{
  margin: 2rem 0px;
  padding: 12px 40px;
  border: none;
  background-color: #eb0009;
  color: #fff;
  box-shadow: 0 0 10px #ccc ;

}
.startQuizSection button:hover{
  background-color: black;
}
.quizDiv{
 padding: 4rem 2rem;
  height: 100%;
  
}

.quiz {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .timer {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .questionCount {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .questionText {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .answerSection {
    margin-bottom: 20px;
  }
  
  .answerSection button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    cursor: pointer;
  }
  
  .navigationButtons {
    display: flex;
    justify-content: space-between;
  }
  
  .navigationButtons button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }

.quizResult {
    text-align: center;
    font-size: 1.5em;
    color: green;
    margin-top: 20px;
  }
  .correct {
    background-color: green;
    color: white;
  }
  
  .incorrect {
    background-color: red;
    color: white;
  }
  
  .questionSelect {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .questionSelect button {
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
  }