/* Quiz.module.css */
.quizContainer{
  height: 100%;
  padding: 5rem 0px;
  background-color: #000000; 
}
.quizDiv {
  display: flex;
  justify-content: center;
  align-items: center;
 
  color: #ffffff; 
}

.quiz {
  background-color: #2c2c2c; /* dark gray background */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 80%;
  max-width: 800px;
}

.totalTimer,
.questionCount,
.OptionsText {
  color: #ff4040; /* red text */
  font-size: 18px;
  margin-bottom: 10px;
}
.totalTimer,
.questionCount{
  display: flex;
  align-items: center;
  gap: 20px;
}
.totalTimer p{
  color: white;
  margin-bottom: 0px;
}
.questionCount div{
  color: white;
}

.questionCount {
  font-size: 20px;
}

.answerSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.answerSection button {
  background-color: #ff6e6e; /* red button background */
  color: #ffffff; /* white text */
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.answerSection button p{
  margin-bottom: 0px;
  
}

.answerSection button:hover {
  background-color: #ff0000; /* darker red on hover */
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigationButtons button {
  background-color: #000000; /* black button background */
  color: #ffffff; /* white text */
  border: 1px solid #ff4040; /* red border */
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navigationButtons button:hover {
  background-color: #2c2c2c; /* dark gray on hover */
  color: #ff4040; /* red text on hover */
}

@media (max-width: 768px) {
  .quiz {
    width: 90%;
    padding: 15px;
  }
}
