* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.imageSection {
  position: relative;
  width: 100%;
  padding: 8rem 0;
  background-color: #ff090d;
}
.maincontent {
  display: flex;
  max-width: 1440px;
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 100%;
  color: white;
  text-align: center;
  padding: 0px 20px 0px 0px;
}
.content hr {
  opacity: 1;
  color: #ffffff;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #ffffff;
}
.heading1 h1 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 700;

  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.heading2 p {
  color: #ffffff;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  padding-top: 0.8rem;
  margin-bottom: 20px;
}

.video {
  width: 100%;
  text-align: center;
}

.video img {
  width: 100%;
  max-width: 400px;
}
@media (max-width: 1180px) {
  .maincontent {
    display: block;
  }
  .video {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}
@media (max-width: 1020px) {
  .content {
    padding-top: 75px;
  }
  .heading1 h1 {
    font-size: 3rem;
    line-height: 1.7em;
  }
  .heading2 p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .content {
    padding-top: 0px;
  }

  .maincontent {
    display: block;
  }
  .heading1 {
    padding-top: 1rem;
  }
  .heading1 h1 {
    font-size: 2.5rem;
  }
  .content {
    max-width: 100%;
  }
  .video {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .video {
    padding: 40px;
  }
  .heading1 h1 {
    font-size: 2rem;
    line-height: 28px;
  }
  .heading2 p {
    font-size: 16px;
  }
}
/* //////////////////////////////////////////// */
.theoryTestSectionQ {
  padding: 2rem 1rem;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.theoryTestDivQ h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #ff090d;
}
.theoryTestDivQ hr {
  border: 2px solid #ff090d;
  opacity: 1;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}
.theoryTestDivQ p {
  color: black;
  font-size: 18px;
}
@media (max-width: 400px) {
  .theoryTestDivQ h2 {
    font-size: 2rem;
  }
}
/* ////////////////////////////////////////////////////// */

.choicesSectionTheoryPortal {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.choicesDivTheoryPortal {
  display: flex;
  gap: 20px;
}
.ChoicesContentContainer {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  background-color: #ff090d;
  color: #ffffff;
  text-align: center;
}
.ChoicesContentContainer h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.ChoicesContentContainer hr {
  border: 2px solid #ffffff;
  opacity: 1;
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
}
.ChoicesContentContainer p {
  margin-bottom: 10px;
  margin: 0px 1rem 10px;
}
@media (max-width: 750px) {
  .choicesDivTheoryPortal {
    display: block;
  }
}
/* ////////////////////////////////////////////// */
.theoryPortalYoutubeVideosSection {
  padding: 2rem 1rem;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.theoryPortalYoutubeVideosDiv iframe {
  height: 500px;
  width: 100%;
}
/* /////////////////////////////////////////////////////// */

/* /////////////////////////why choose us css/////////// */
.thMultipleChioceHeader h2 {
  text-align: center;
  color: #ff0004;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.thMultipleChioceHeader p {
  font-size: 18px;
  text-align: center;
}
.thchoiceListSection {
  background-color: #ff0004;
}
.features {
  padding: 2rem 0;
}
.features h4 {
  color: #ff0004;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.features p {
  color: #7a7a7a;
  line-height: 28px;
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.mainFeatures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  max-width: 1500px;
  padding: 0px 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.column {
  padding: 25px 25px 55px 25px;
  background-color: #ffffff;

  box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.06);

  transition: box-shadow 0.3s ease;
}
.column a {
  text-decoration: none;
  color: #ff0004;
}

.column:hover {
  box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.203);
  border: 1px solid #ff0004;
}
.column span {
  font-size: 50px;
  color: #706c6c;
  display: inline-block;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
}
.column h3 {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ff0004;
}
.column p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.7em;
  color: #7a7a7a;
}
.column span {
  background-color: #ff0004;
  padding: 30px;
  border-radius: 50%;
  display: inline-block;
  font-size: 50px;
  color: #fff;
}
#featuresIcon {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}
.column span:hover {
  transform: scale(1.2);
  background-color: #fff;
  transition: 0.3s ease-in-out;
  color: #ff0004;
}
#featuresIconSRU {
  font-size: 6rem;
}
@media (max-width: 1085px) {
  .features h4 {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .features h4 {
    font-size: 30px;
  }
  .mainFeatures {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .thMultipleChioceHeader h2 {
    font-size: 2rem;
  }
}

/* ////////////////////////////////// */
.thAdditionalSupportSection {
  padding: 2rem 1rem;
  font-family: "Roboto", sans-serif;
}
.thAdditionalSupportHeader {
  background-color: #ff0004;
  padding: 2rem 0px;
}
.thAdditionalSupportHeader h2 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.thAdditionalSupportformAndMap {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.thAdditionalSupport2ndHeader {
  padding: 2rem 0px;
}
.thAdditionalSupport2ndHeader h2 {
  color: #ff0004;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.thAdditionalSupport2ndHeader hr {
  border: 2px solid #ff0004;
  opacity: 1;
  max-width: 500px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.thAdditionalSupport2ndHeader p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 1rem;
}
.callBackFormAndMap {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.formmap {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 628px) {
  .callBackFormAndMap {
    display: block;
  }
  .thAdditionalSupportHeader h2 {
    font-size: 2rem;
  }
}
.thFooterSection {
  margin: 2rem 0px;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  text-align: center;
}
.thFooterDiv h2 {
  color: #ff0004;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}
.thFooterDiv hr {
  border: 2px solid #ff0004;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
  width: 100%;
  opacity: 1;
}
.thFooterDiv img {
  max-width: 700px;
  width: 100%;
}
@media (max-width: 428px) {
  .thFooterDiv h2 {
    font-size: 2rem;
  }
}
