* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.homecontent-Sec {
  background-image: url("./Untitled-design.png");
  background-size: cover;
  background-position: top;

  opacity: 0.8;

  padding-top: 2rem;
  padding-bottom: 4rem;
}
.homecontent-Sec p {
  margin-bottom: 0px;
}
.home-content-D h2 {
  font-size: 6rem;
  text-align: left;
  letter-spacing: 10px;
  font-weight: 900;
  color: rgb(227, 0, 0);
  margin: 0px auto;
  max-width: 1600px;
  opacity: 1;
}
.home-content-D {
  padding: 0px 2rem;
}
#JourWord {
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.content-Imgs {
  background-image: url("./road-png-500-download-5342.png");
  background-size: contain;

  background-position: center;
  margin-top: 10rem;

  width: 100%;
}
.content-Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 100px;
  place-items: center;
  padding: 0px 2rem;
}
.content-box {
  background-color: black;
  opacity: 0.9;
  border: 1px solid white;
  border-radius: 30px;
  padding: 0px 1rem;
  width: 300px;
}
.content-box:hover {
  border: 1px solid rgb(227, 0, 0);
  transition: ease-in-out 0.5s;
}
.content-box-header {
  display: flex;
  justify-content: space-between;
  margin-top: -2rem;
}
.content-box-header h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
  opacity: 1;
  margin-top: -0.9rem;
}
.content-box-header img {
  max-width: 100px;
}
.content-box-desc {
  padding: 2rem 0px;
  height: 180px;
}
.content-box-desc h2 {
  font-size: 1.5rem;
  color: rgb(255, 0, 0);
  position: sticky;
  width: 100%;

  letter-spacing: 0px;
  text-align: left;
}
.content-box-desc p {
  color: white;
  text-align: left;
  font-size: 1rem;
  font-weight: 400px;
  margin: 1rem 0px;
}
.btn-Section {
  text-align: center;
  position: relative;
  width: 100%;
}
.btn-Section a {
  color: white;
  text-decoration: none;
}
.btn-div {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: -1.3rem;
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  color: white;
  border: 1px solid white;
  transition: transform 0.3s ease;
  border-radius: 35px;
}
.btn-div:hover {
  background-color: black;
  transform: scale(1.1);
}
.btn-div p {
  padding: 8px 20px;
}
.btn-div span {
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px 14px;
}
@media (max-width: 1072px) {
  .homecontent-Sec {
    opacity: 0.7;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .content-Imgs {
    background-image: url("./road.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5rem;
  }
  .content-box-desc {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .homecontent-Sec {
    opacity: 0.7;
    background-size: cover;

    background-position: center;
  }
}
@media (max-width: 705px) {
  .content-Imgs {
    background-image: url("./mobileRoad.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 2rem;
  }
}
@media (max-width: 600px) {
  .homecontent-Sec {
    padding: 2rem 0px;
  }
  .home-content-D h2 {
    font-size: 5rem;
  }
}
@media (max-width: 530px) {
  .home-content-D h2 {
    font-size: 4rem;
  }
}
@media (max-width: 470px) {
  .home-content-D h2 {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .home-content-D h2 {
    font-size: 2.5rem;
  }
}
/* .designMain{
    background-color: #000; 
}

.designMainContent{
    max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
    width: 100%;
    padding: 4rem 15px;
   
}
.dGrid-content{
    background-size: 1120px;
    background-image: url("./road.png");
    display: grid;
   
    grid-template-columns: repeat(1, 1fr);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 60% -10%;
    row-gap: 50px;
    width: 100%;
}
.flex-Content1{
    display: flex;
}
.flex-Content2{
    display: flex;
    flex-direction: row-reverse;
}
.flex-Content3{
    display: flex;
}
.flex-Content4{
    display: flex;
    flex-direction: row-reverse;
}
.single-map-block{
    display: flex;
    align-items: center;
    border-radius: 20px;
    max-width: 635px;
    width: 100%;
}
.single-map-block.card-1{
   
    background-image: linear-gradient(90deg, transparent 20%, rgb(16, 16, 16) 30%);
    box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.06);
}
.img-area{
    position: relative;
    height: 200px;
    width: 240px;
    background-color: rgb(16, 16, 16);

}
 .img-area .number{
    position: absolute;
    top: -10px;
    left: 0;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #3a3a3ac1;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    color: #fff;
    display: grid;
    place-items: center;
    z-index: 1;
}
.img-area img{
    max-width: 100%;
   
    object-fit: contain;
    height: auto;
   
    position: absolute;
    left: 0;
   
    display: block;
}
.content-area{
    padding: 20px 20px 20px 20px;
    max-width: 335px;
}
.content-area h4{
    font-size: 26px;
    text-align: center;
    color: rgb(200, 24, 24);
    text-transform: initial;
}
.content-area p{
    color: white;
    text-align: left;
}

.content-area a{
    margin-top: 14px;
    font-size: 21px;
   color: rgb(200, 24, 24);
    display: flex;
    column-gap: 5px;
    font-weight: 700;
    text-decoration: none;
    justify-content: center;
}
.content-area a:hover{
    color: rgb(81, 5, 5);
} */

/* /////////////////////////////////////////////////// */
/* .single-map-block.card-2{
    
    background-image: linear-gradient(-90deg, transparent 20%, rgb(16, 16, 16) 30%);
    box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.06);
    flex-direction: row-reverse;
}
.single-map-block.card-2 .img-area .number{
    left: auto;
    right: 20px;
    top: -20px;
} */

/* //////////////////////////////////////////// */
/* .single-map-block.card-3{
    
   
    background-image: linear-gradient(90deg, transparent 20%, rgb(16, 16, 16) 30%);
    box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.06);
   
} */

/* /////////////////////////////////////////////// */
/* .single-map-block.card-4{
    grid-area: card4;
   
    background-image: linear-gradient(-90deg, transparent 20%, rgb(16, 16, 16) 30%);
    flex-direction: row-reverse;
}
.single-map-block.card-4 .img-area .number{
    left: auto;
    right: 20px;
    top: -20px;
}
.btn-flex{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.btn-flex img{
    max-width: 100px;
    width: 100%;
}
.hBookNowBtn{
    background-color: rgb(200, 24, 24);
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}
.hBookNowBtn:hover{
    background-color: rgb(81, 5, 5);
}

@media (max-width: 750px) {
    .dGrid-content{
        background-image: url("./mobileRoad.png");
    }
    .single-map-block{
        max-width: 300px;
        width: 100%;
    }
    .single-map-block.card-1{
        flex-direction: column;
        background-image: linear-gradient(180deg, transparent 5%, rgb(16, 16, 16) 10%);
        box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.06);
    }
    .single-map-block.card-2{
        flex-direction: column;
        background-image: linear-gradient(180deg, transparent 5%, rgb(16, 16, 16) 10%);
        box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.06);
    }
    .single-map-block.card-3{
        flex-direction: column;
        background-image: linear-gradient(180deg, transparent 5%, rgb(16, 16, 16) 10%);
        box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.06);
    }
    .single-map-block.card-4{
        flex-direction: column;
        background-image: linear-gradient(180deg, transparent 5%, rgb(16, 16, 16) 10%);
        box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.06);
    }
}
@media (max-width: 428px){
   .img-area{
    max-width: 250px;
   }
    .img-area img{
        max-width: 250px;
        margin-right: auto;
        margin-left: auto;
        position: static;
    }
} */
