*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.goCvFirstdiv{
    background-color: #24295E;
    padding: 3rem 1rem;
   
    border-bottom: 10px dashed rgb(24, 216, 24);
}
.goCvFirstSection{
    max-width: 1140px;   
 margin-right: auto;
 margin-left: auto;
 
    
    
}

.goCvFirstSectionHeading h2{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    padding: 3rem 0px;
}
.goCvFirstSectionHeading hr{
    border: 2px solid rgb(34, 243, 34);
    opacity: 1;
    max-width: 600px;
    width: 100%;
   
    margin-right: auto;
    margin-left: auto;
}
.goCvFirstSectionHeadingImg{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding: 3rem 0px;
    max-width: 1000px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#smartlearnerLogo{
    max-width: 300px;
    width: 100%;
}
.goCvFirstSectionHeadingImg img{
    max-width: 130px;
    width: 100%;
    padding: 1rem 1rem;
}
@media (max-width: 580px){
.goCvFirstSectionHeadingImg{
    display: block;

}
.goCvFirstSectionHeading h2{
    font-size: 1.6rem;
}
}
.goCv2ndSection{
    text-align: center;
    padding: 2rem 0px;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Roboto", sans-serif;
}
.goCv2ndSection h2{
    font-size: 2rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
.goCv2ndSection img{
    max-width: 300px;
    width: 100%;
    margin: 1rem 0px;
}
.goCv2ndSection p{
    margin-bottom: 1rem;
    font-size: 17px;
}
.goCvListsSection {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 1rem;
}
.goCvListsSection h2{
    text-align: center;
    color: #eb0009;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0px;
}
