* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.imageSection {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  background-color: #ff1d20;
}
.maincontent {
  display: flex;
  max-width: 1440px;
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.content {
  color: white;
  text-align: center;
  width: 100%;
  padding: 0px 1rem;
}

.heading1 h1 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.heading2 p {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 1rem;
  margin-bottom: 20px;
}

.video {
  width: 100%;
  text-align: center;
}

@media (max-width: 1020px) {
  .content {
    padding-top: 75px;
  }
  .heading1 h1 {
    font-size: 3rem;
  }
  .heading2 p {
    text-align: center;
  }
  .video {
    padding: 0px 75px;
  }
}
@media (max-width: 767px) {
  .maincontent {
    display: block;
  }
  .heading1 {
    padding-top: 1rem;
  }
  .heading1 h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 350px) {
  .video {
    padding: 40px;
  }
  .heading1 h1 {
    font-size: 2rem;
    line-height: 28px;
  }
  .heading2 p {
    font-size: 16px;
  }
}
/* /////////////////////////////////////////////////// */
.theHonestTruth2ndSection {
  padding: 2rem 0px;
  font-family: "Roboto", sans-serif;
}
.theHonestTruth2nddiv {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 3rem 1rem;
}
.theHonestTruth2ndsectionDetails {
  width: 100%;
  text-align: center;
}
.theHonestTruth2ndsectionDetails h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #ff1d20;
}
.theHonestTruth2ndsectionDetails hr {
  max-width: 500px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #ff1d20;
  opacity: 1;
}
.theHonestTruth2ndsectionDetails p {
  margin-bottom: 1rem;
}
.theHonestTruth2ndsectionDetails button {
  border: none;
  border-radius: 6px;
  padding: 10px 30px;
  background-color: #ff1d20;
  color: #fff;
  font-weight: 600;
  margin: 1rem 0px;
}
.theHonestTruth2ndsectionDetails button:hover {
  background-color: black;
}
.theHonestTruthImgSection {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding: 5rem;
}
.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(10, 10, 10); /* Adjust color and opacity as needed */
  font-size: 170px;
  filter: drop-shadow(1px 0 6px rgba(0, 0, 0, 0.3));
}
.playIcon:hover {
  color: rgba(75, 75, 75, 0.719);
}
.theHonestTruthImgSection img {
  width: 100%;
}
@media (max-width: 1020px) {
  .theHonestTruth2ndsectionDetails h2 {
    font-size: 2rem;
  }
  .playIcon {
    font-size: 120px;
  }
}
@media (max-width: 850px) {
  .theHonestTruth2nddiv {
    display: block;
  }
}
@media (max-width: 500px) {
  .theHonestTruth2ndsectionDetails h2 {
    font-size: 1.7rem;
  }
  .theHonestTruthImgSection {
    padding: 2rem;
  }
}
/*//////////////////////////// Smartlearner stats /////////////////////////////// */
.smartleanerStats {
  background-color: #ff121a;
}
.smartleanerStatsSection {
  padding: 4rem 1rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.smartleanerStatsSection hr {
  max-width: 500px;
  width: 100%;
  color: #fff;
  border: 2px solid #fff;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}
.smartleanerStatsSection h3 {
  font-size: 65px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2rem;
}
.smartleanerStatsSection P {
  color: #fff;
  margin-bottom: 1rem;
  letter-spacing: 6px;
}
.statsContaier {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.numberContainer {
  padding: 55px;

  border: 1px solid #fff;

  width: 100%;
}
.numberContainer span {
  color: #fff;
  font-size: 105px;
  font-weight: 500;
}
.numberContainer p {
  color: #fff;
}
#statslowerheading {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  line-height: 2.5;
}
@media (max-width: 728px) {
  .statsContaier {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .smartleanerStatsSection h3 {
    font-size: 35px;
  }
  .numberContainer {
    padding: 30px;
  }
  .numberContainer span {
    font-size: 45px;
  }
}
/* ///////////////////////////////////////////////////// */
.ourInvolmentSection {
  padding: 3rem 0px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.ourInvolmentDiv {
  padding: 1rem;
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.ourInvolmentDiv h2 {
  color: #ff121a;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.ourInvolmentDiv hr {
  max-width: 500px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
  margin-bottom: 1rem;
  border: 2px solid #ff121a;
}
.ourInvolmentDiv p {
  margin-bottom: 1rem;
}
@media (max-width: 528px) {
  .ourInvolmentDiv h2 {
    font-size: 1.7rem;
  }
}
/* ////////////////////////////////////////////////////////////// */
.getInvolvedsection {
  padding: 2rem 0px;
  background-color: #ff121a;
  font-family: "Roboto", sans-serif;
}
.getInvolvedDiv {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}
.getInvolvedHeading h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.getInvolvedHeading hr {
  border: 2px solid #fff;
  opacity: 1;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.getInvolvedDivFlex {
  display: flex;

  width: 100%;
}
.getInvolvedDivFlex span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
  padding: 1rem;
}
.getInvolvedDetailsDiv {
  width: 100%;
  padding: 1rem;
  border: 1px solid #fff;
  background-color: #e60004;
}
.getInvolvedDetailsDiv h2 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
.getInvolvedDetailsDiv hr {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
  border: 2px solid #fff;
}
.getInvolvedDetailsDiv p {
  text-align: justify;
  color: #fff;
}
.getInvolvedDetailsDiv button {
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  border-radius: 6px;
  background-color: #fff;
  color: #e60004;
  margin: 1rem 0px;
}
.getInvolvedDetailsDiv button:hover {
  background-color: black;
  color: #fff;
  transition: 0.3s ease-in-out;
}
@media (max-width: 910px) {
  .getInvolvedDivFlex {
    display: block;
  }
}
@media (max-width: 428px) {
  .getInvolvedHeading h2 {
    font-size: 2rem;
  }
}
/* /////////////////////////why choose us css/////////// */
.features {
  padding: 2rem 0;
}
.features h4 {
  color: #ff0004;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.features p {
  color: #7a7a7a;
  line-height: 28px;
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.mainFeatures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  max-width: 1500px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.column {
  padding: 25px 25px 55px 25px;
  background-color: #ffffff;

  box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.06);

  transition: box-shadow 0.3s ease;
}
.column a {
  text-decoration: none;
  color: #ff0004;
}

.column:hover {
  box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.203);
  border: 1px solid #ff0004;
}
.column span {
  font-size: 50px;
  color: #706c6c;
  display: inline-block;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
}
.column h3 {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ff0004;
}
.column p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.7em;
  color: #7a7a7a;
}
.column span {
  background-color: #ff0004;
  padding: 30px;
  border-radius: 50%;
  display: inline-block;
  font-size: 50px;
  color: #fff;
}
#featuresIcon {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}
.column span:hover {
  transform: scale(1.2);
  background-color: #fff;
  transition: 0.3s ease-in-out;
  color: #ff0004;
}
#featuresIconSRU {
  font-size: 6rem;
}
@media (max-width: 1085px) {
  .features h4 {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .features h4 {
    font-size: 30px;
  }
  .mainFeatures {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
