* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.theoryPortalCountDown {
  padding: 2rem 1rem;
  font-family: 'Antonio',sans-serif;
}
.theoryPortalTimer h4 {
  color: #fff;
  
}
.theoryPortalTimerInputField {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  justify-content: center;
  border-radius: 6px;
  align-items: center;
  gap: 10px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  color: black;

  padding: 2rem 1.5rem;
}
.theoryPortalTimerInputField label {
  font-size: 20px;
}
.theoryPortalTimerInputField input {
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  outline: none;
  border: 1px solid red;
}
.theoryPortalTimerInputField button {
  margin-left: 20px;
  border: none;
  padding: 7px 20px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(211, 0, 0);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: rgb(231, 231, 231);
}
.theoryPortalTimerInputField button:hover {
  background-color: red;
  color: #fff;
}
.theoryPortalCountDownTimer {
  display: flex;
  gap: 10px;
  padding: 0px 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.theoryPortalCountDownTimer span {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
.theoryPortalCountDownTimer p {
  padding: 2rem;
  color: black;
  background-color: #fff;
  border-radius: 6px;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.theoryPortalCountDownTimer p b {
  font-size: 1rem;
  font-weight: 500;
}
@media (max-width: 670px) {
  .theoryPortalCountDownTimer p {
    padding: 1rem;
    font-size: 1rem;
  }
  .theoryPortalTimerInputField label {
    display: none;
  }
  .theoryPortalTimerInputField {
    padding: 1rem;
  }
  .theoryPortalTimerInputField input {
    padding: 5px;
  }
}
@media (max-width: 450px) {
  .theoryPortalCountDownTimer {
    display: block;
  }
  .theoryPortalCountDownTimer span {
    display: none;
  }
  .theoryPortalTimerInputField {
    display: block;
  }
  .theoryPortalTimerInputField input {
    margin-bottom: 10px;
  }
}
