.bannersnewSection {
  background: url(../../../assets/images/bgimg1111.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.bannerSections {
  max-width: 1840px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem 1rem;
}
.bannerHeadingtext {
  background: url(../../../assets/images/textbg.PNG);
  padding: 7rem;
  background-size: cover;
  background-position: inherit;
  max-width: 750px;
  height: 400px;
  width: 100%;
}
.bannerHeadingtext h2 {
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.bannerHeadingtext h2 span {
  color: rgb(255, 196, 0);
}
#bannerShape {
  background-color: #d7141a;
  clip-path: polygon(3% 0%, 97% 0%, 100% 100%, 0% 100%);
  transform: rotate(-2deg);
  position: relative;
}
.gridBox {
  padding: 2rem 0px;
}
.gridSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
}
.gridImgs {
  background-color: white;
  max-width: 130px;
  border-radius: 50%;
}
.gridImgsTitle span {
  color: #d7141a;
  font-size: 1.5rem;
  font-weight: 700;
}
.gridImgsTitle {
  margin-top: 0.1rem;
  background-color: rgba(12, 12, 12, 0.986);
  color: rgb(253, 186, 0);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem 0.5rem;

  width: 200px;
  text-transform: uppercase;
  display: inline-block; /* important for rotation */
  transform: rotate(-5deg); /* tilt slightly to the left */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* optional: adds depth */
}

.bannerListSec ul {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 0px;
}

#logoImgBanner {
  margin-bottom: 2rem;
  max-width: 300px;
  width: 100%;
}
#logoImgBanner P {
  text-align: right;
  color: white;
  font-weight: 700;
}
.logoImgBanner {
  max-width: 300px;
  width: 100%;
}

.headerImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 20px;
}

#tokenImg {
  position: absolute;
  right: 100px;
  top: 50px;
}
#tokenImg2 {
  position: absolute;
  right: 250px;
  top: 50px;
}
#tokenImg3 {
  position: absolute;
  right: 400px;
  top: 50px;
}
.tokenImg {
  max-width: 140px;
  width: 100%;
  background-color: aliceblue;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .bannersnewSection {
    background: url(../../../assets/images/bgimg11.PNG);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  #logoImgBanner {
    max-width: 200px;
    width: 100%;
    margin-bottom: 1rem;
  }
  .logoImgBanner {
    max-width: 200px;
    width: 100%;
  }
  .bannerHeadingtext {
    background: url(../../../assets/images/textbg.PNG);
    padding: 5rem;
    background-size: cover;
    background-position: inherit;
    max-width: 550px;
    width: 100%;
    height: 300px;
    width: 100%;
  }
  .bannerHeadingtext h2 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  #tokenImg {
    position: absolute;
    right: 20px;
    top: 50px;
  }
  #tokenImg2 {
    position: absolute;
    right: 130px;
    top: 50px;
  }
  #tokenImg3 {
    position: absolute;
    right: 240px;
    top: 50px;
  }
  .tokenImg {
    max-width: 100px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 50%;
  }

  .gridSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
  }
  .gridImgs {
    max-width: 100px;
  }
  .gridImgsTitle {
    margin-top: 0.1rem;
    background-color: rgba(12, 12, 12, 0.986);
    color: rgb(253, 186, 0);
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 0.5rem;

    width: 200px;
    text-transform: uppercase;
    display: inline-block; /* important for rotation */
    transform: rotate(-5deg); /* tilt slightly to the left */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* optional: adds depth */
  }
}
@media (max-width: 527px) {
  .bannerHeadingtext {
    background: url(../../../assets/images/textbg.PNG);
    padding: 5rem 4rem;
    background-size: cover;
    background-position: inherit;
    max-width: 450px;
    width: 100%;
    height: 300px;
    width: 100%;
  }
  .bannerHeadingtext h2 {
    font-size: 2rem;
    font-weight: 900;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  #tokenImg {
    position: absolute;
    right: 20px;
    top: 50px;
  }
  #tokenImg2 {
    position: absolute;
    right: 110px;
    top: 50px;
  }
  #tokenImg3 {
    position: absolute;
    right: 200px;
    top: 50px;
  }
  .tokenImg {
    max-width: 90px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 50%;
  }
}
@media (max-width: 447px) {
  .tokenImg {
    display: none;
  }

  .gridSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 1000px;
  }
  .gridImgs {
    max-width: 100px;
  }
  .gridImgsTitle {
    margin-top: 0.1rem;
    background-color: rgba(12, 12, 12, 0.986);
    color: rgb(253, 186, 0);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;

    width: 200px;
    text-transform: uppercase;
    display: inline-block; /* important for rotation */
    transform: rotate(-5deg); /* tilt slightly to the left */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* optional: adds depth */
  }
}
@media (max-width: 427px) {
  .bannerHeadingtext h2 {
    font-size: 1.8rem;
    font-weight: 900;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  .gridSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    place-items: center;
    max-width: 1000px;
  }
  .gridImgs {
    max-width: 80px;
  }
}
