*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* /////////////////////testimonials ///////////////// */
.testimonialsContainer{
    background: url("../../assets/images/testemonials.jpg") repeat center top;
    padding: 70px 0;
    font-family: "Montserrat", sans-serif;
}
.tmcontainer{
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    
}
.tmcontainer h4{
    color: rgba(17, 17, 17, 0.767);
    font-size: 65px;
    font-weight: 600;
}
.testimonialContent{
    background-color: #fff;
    padding: 0rem 2rem;
}
.testimonialName{
    color: #eb0009;
    font-size: 1.75rem;
    font-weight: 700;
}
.testimonialComment{
    font-size: 1.3em;
    font-style: italic;
    line-height: 28px;
    text-align: center;
}
.testimonialImage{
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}
@media (max-width: 1200px){
    .testimonialsContainer{
        padding: 100px 30px 100px 30px;
    }
   
   
}
@media (max-width: 500PX){
    .tmcontainer h4{
        font-size: 45px;
    }
    .testimonialComment{
        font-size: 16PX;
    }
}