* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ////////////////////// */
.drivingLessonsPage{
  background-color: black;
  padding-bottom: 2rem;
  font-family: "Antonio", sans-serif;
}
.DrivingLessonsPagedivFront {
  background-color: rgb(220, 220, 220);
}
.DrivingLessonsSectionFront {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#dLFrontHeading h2 {
  font-size: 4rem;
  font-family: "Antonio", sans-serif;
}
#dLFrontImg img {
  max-width: 400px;
  width: 100%;
}
#dLFrontHeading h2 span{
  animation: 3s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
@media (max-width: 1050px) {
  #dLFrontHeading h2 {
    font-size: 5rem;
  }
  #dLFrontImg img {
    max-width: 250px;
    width: 100%;
  }
}
@media (max-width: 750px) {
  #dLFrontHeading h2 {
    font-size: 3.5rem;
  }
  #dLFrontImg img {
    max-width: 120px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .DrivingLessonsSectionFront {
    flex-direction: column;
    gap: 20px;
  }
  #dLFrontImg img {
    max-width: 150px;
    width: 100%;
  }
}
@media (max-width: 320px) {
  #dLFrontHeading h2 {
    font-size: 2.5rem;
  }
}
/* ////////////////////////////////////// */
.drivingLessonsCd {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 1rem 0px;
}
.drivingLessonsCd section a{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #ed2025;
  padding: 5px 1rem;
  text-decoration: none;
}
.drivingLessonsCd section p {
  margin: 0px;
  color: white;
  font-size: 1.5rem;
  font-family: "Antonio", sans-serif;
}
#IconsS{
  font-size: 1.8rem;

  color: white;
}

.whyChooseSmlGHeading{
  padding: 1rem 0px;
  text-align: center;
}
.whyChooseSmlGHeading h2{
  font-size: 3rem;
  color: white;

}
.whyChooseSmlListdiv{
  padding: 1rem 0px;
  /* background-color: rgb(220, 220, 220); */
  color: white;
}
.whyChooseSmlLists{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 1rem;
}
.whyChooseSmlLists p{
  font-size: 2rem;
  

}
@media (max-width: 728px){
  .whyChooseSmlGHeading h2{
    font-size: 2rem;
  }
  .whyChooseSmlLists p{
    font-size: 1.5rem;
    
  
  }
}
@media (max-width: 428px){
  .whyChooseSmlGHeading h2{
    font-size: 2rem;
  }
  .whyChooseSmlLists p{
    font-size: 1.2rem;
    
  
  }
}
/* ///////////////////////images caursel //////////////////// */
.imageSliderContainer {
  padding: 2rem 0px;
}
.imageSliderContainer hr{
  border: 2px solid #ed2025;
  opacity: 1;
}
.imageSliderContainer h2 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.imgSlider img{
  max-width: 300px;
  aspect-ratio: 1/1;
  object-fit: contain;
  width: 100%;
}
/* /////////////////////////////////////////////// */
.dManualSection hr{
  opacity: 1;
  border: 2px solid #ed2025;
 
}
.dManualSections{
  padding: 2rem 1rem;
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.dManualDiv{
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 2rem;

}
.dManualDiv h2{
  font-size: 3.5rem;
color: white;
}
.dManualDiv img{
  max-width: 50px;
  width: 100%;  
  animation: slideFromLeft 1s ease-out, rotate 2s linear;
}

.dManualDiv img:nth-child(5) {
  animation-delay: 8s;
  
}
.dManualDiv img:nth-child(4) {
  animation-delay: 6s;
 
}
.dManualDiv img:nth-child(3) {
  animation-delay: 4s;
  
}
.dManualDiv img:nth-child(2) {
  animation-delay: 2s;
  
}
.dManualDiv img:nth-child(1) {
  animation-delay: 0s;
  
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.manualPList{
  padding: 0px 2rem;
}
.manualPList p{
  color: white;
  font-size: 1.5rem;
}