* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ////////////////////// */
.drivingLessonsPage{
  background-color: black;
  padding-bottom: 2rem;
  font-family: "Antonio", sans-serif;
}
.DrivingLessonsPagedivFront {
  background-color: rgb(220, 220, 220);
}
.DrivingLessonsSectionFront {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#dLFrontHeading h2 {
  font-size: 8rem;
  font-family: "Antonio", sans-serif;
}
#dLFrontImg img {
  max-width: 300px;
  width: 100%;
}
#dLFrontHeading h2 span{
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s forwards;
}
@keyframes slideIn {
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
@media (max-width: 1050px) {
  #dLFrontHeading h2 {
    font-size: 5rem;
  }
  #dLFrontImg img {
    max-width: 250px;
    width: 100%;
  }
}
@media (max-width: 750px) {
  #dLFrontHeading h2 {
    font-size: 3.5rem;
  }
  #dLFrontImg img {
    max-width: 120px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .DrivingLessonsSectionFront {
    flex-direction: column;
    gap: 20px;
  }
  #dLFrontImg img {
    max-width: 150px;
    width: 100%;
  }
}
@media (max-width: 320px) {
  #dLFrontHeading h2 {
    font-size: 2.5rem;
  }
}
/* ////////////////////////////////////// */
.drivingLessonsCd {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 1rem 0px;
}
.drivingLessonsCd section {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #ed2025;
  padding: 5px 1rem;
}
.drivingLessonsCd section p {
  margin: 0px;
  color: white;
  font-size: 1.5rem;
  font-family: "Antonio", sans-serif;
}
#IconsS{
  font-size: 1.8rem;

  color: white;
}

.whyChooseSmlGHeading{
  padding: 1rem 0px;
  text-align: center;
}
.whyChooseSmlGHeading h2{
  font-size: 3rem;
  color: white;

}
.whyChooseSmlListdiv{
  padding: 1rem 0px;
  background-color: rgb(220, 220, 220);
}
.whyChooseSmlLists{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 1rem;
}
.whyChooseSmlLists p{
  font-size: 2rem;
  

}
@media (max-width: 728px){
  .whyChooseSmlGHeading h2{
    font-size: 2rem;
  }
  .whyChooseSmlLists p{
    font-size: 1.5rem;
    
  
  }
}
@media (max-width: 428px){
  .whyChooseSmlGHeading h2{
    font-size: 2rem;
  }
  .whyChooseSmlLists p{
    font-size: 1.2rem;
    
  
  }
}