/* SingleBlog.module.css */
.singleblogPage{
  max-width: 1500px;
  margin: 0px auto;
  padding: 4rem 0px;
  font-family: 'Arial', sans-serif;
}
.singleblogPageContainer {
  

 display: flex;
 gap: 20px;

 
 
 
}
.singleblogContainer{
  width:60%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.blogListContainer{
width: 40%;
background-color: #333;
}
.blogContentContainer{
  padding: 20px;
}

.headerBlog {
  
  margin-bottom: 30px;
  animation: fadeIn 1s ease-out;
}

.blogTitle {
  font-size: 2.5rem;
  color: #333;
  font-weight: 700;
  transition: all 0.3s ease;
}

.blogTitle:hover {
  color: #007BFF;
}

.metaInfo {
  font-size: 1rem;
  color: #777;
  margin-top: 10px;
}

.author {
  margin-right: 15px;
}

.date {
  font-weight: 600;
}

.contentBlog {
  margin-top: 40px;
}

.paragraphBlog {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #444;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-out;
}



.blogImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ================================================ */
.blogListSection{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.blogListContent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}