* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.OurOfficeGreenEfforts {
  background-color: black;
  padding-bottom: 6rem;
  padding-top: 1rem;
  font-family: "Antonio", sans-serif;
}
.eCsfront {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.eCSfrontSection {
  background-color: rgb(8, 66, 180);
  color: white;
  border-radius: 13em/3em;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}
.eCSfrontSection h2 {
  font-size: 8rem;
  margin-bottom: 3rem;
  text-align: center;
  color: white;
}
.eCSfrontSection hr {
  opacity: 1;
  border: 2px solid white;
  margin-bottom: 2rem;
}
.eCSfrontSection h3{
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}
.eCSfrontSection p {
  color: white;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}
@media (max-width: 780px) {
  .eCSfrontSection h2 {
    font-size: 6rem;
  }
 
}

@media (max-width: 450px) {
  .eCSfrontSection h2 {
    font-size: 4.5rem;
  }
  .headinSection h2 {
    font-size: 2.5rem;
  }
}
#cCSecondrySection{
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
#cCSecondrySection hr{
  opacity: 1;
  border: 2px solid white;

}
.cCSecondryHeadin{
display: flex;
align-items: flex-end;
justify-content: center;
}
.cCSecondryHeadin h2{
  font-size: 5rem;
  text-align: center;
  color: rgb(8, 66, 180);
}
.cCSecondryHeadin img{
  max-width: 120px;
  margin-right: -2rem;
  width: 100%;
  z-index: 1;
}
.cCLists{
  max-width: 800px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}
.cCLists p{
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: white;
  text-align: justify;
}
.cCLists p span{
  color: rgb(255, 179, 0);
}
@media (max-width: 780px) {
  .cCSecondryHeadin h2{
    font-size: 3.5rem;
  }
  .cCLists p{
    font-size: 1rem;
  }
  .cCSecondryHeadin img{
    max-width: 90px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .cCSecondryHeadin h2{
    font-size: 2.5rem;
  }
  .cCSecondryHeadin img{
    max-width: 60px;
    width: 100%;
  }
}
.cCsContentSection{
  padding: 0px 1rem;
}
#cCsContentSection{
  background-color: rgb(8, 66, 180);
  color: white;
  border-radius: 13em/3em;
  padding: 2rem 4rem;
}
#cCsContentSection h2{
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 3rem;
}
#cCsContentSection p{
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media (max-width: 580px) {
  #cCsContentSection h2{
    font-size: 2.5rem;
  }
  #cCsContentSection{
    padding: 1.5rem 1.5rem;
  }
  #cCsContentSection p{
   
    font-size: 1rem;
   
  }
}
.cCImagesSec{
  padding: 2rem 1rem;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.cCImagesdiv{
 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 30px;
}
.cCImagesdiv img{
  max-width: 350px;
  width: 100%;
}
#schoolLocal{
  margin-top: 2rem;
  background-color: rgb(8, 66, 180);
  color: white;
  max-width: 500px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3em/1em;
  padding: 1rem 1rem;
}
#schoolLocal p{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0px;
}