* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .ElectricCarScheme{
    background-color: black;
    padding-bottom: 10rem;
    padding-top: 1rem;
    font-family: 'Antonio', sans-serif;
  }
  .eCsfront{
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  .eCSfrontSection{
    background-color: rgb(3, 154, 3);
    color: white;
    border-radius: 13em/3em;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
  }
  .eCSfrontSection h2{
    font-size: 8rem;
    margin-bottom: 3rem;
    text-align: center;
    color: white;
    overflow: hidden; 
    border-right: .2px solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 10px;
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    animation-iteration-count: infinite; 
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
  .eCSfrontSection hr{
    opacity: 1;
    border: 2px solid white;
    margin-bottom: 2rem;
  }
  .eCSfrontSection p{
    color: white;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;

  }
  .eCs2ndSectionhead{
    text-align: center;
    padding: 2rem 0px;
  }
  .eCs2ndSectionhead h2{
    font-size: 5rem;
color: rgb(3, 154, 3);
animation: 4s slide-left;
animation-iteration-count: infinite; 
}
@keyframes slide-left {
  from {
    margin-right: -100%;
  }
  to {
    margin-right: 0%;
  }
}
  .eCs2ndSectionhead span{
    color: skyblue;
    animation: 4s slide-right;
    animation-iteration-count: infinite; 
  }
  @keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
  .eCs2ndSectionhead hr{
    opacity: 1;
    border: 2px solid white;
  }
  .eCs2ndSectionhead p{
    font-size: 1.2rem;
    color: white;
    margin-top: 1rem;
  }
  .electricCarSchemeSection{
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .ecs2ndimgSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .ecs2ndimgSection img{
    max-width: 450px;
    width: 100%;
  }
  .ecs2ndListSection{
    padding: 2rem 1rem;
  } 
  .ecs2ndListSection p{
    font-size: 1.2rem;
    color: white;
    text-align: justify;
  }
  @media (max-width: 1000px){
    .ecs2ndimgSection img{
      max-width: 400px;
      width: 100%;
    }
  }
  @media (max-width: 900px){
    .ecs2ndListSection p{
      font-size: 1rem;
      color: white;
      text-align: justify;
    }
    .ecs2ndimgSection img{
      max-width: 350px;
      width: 100%;
    }
  }
  @media (max-width:  780px){
    .eCSfrontSection h2{
      font-size: 6rem;
    }
    .eCs2ndSectionhead h2{
      font-size: 4rem;
    }
    
    .ecs2ndimgSection{
      gap: 30px;
    }
   
    .ecs2ndimgSection img{
      max-width: 300px;
      width: 100%;
    }
  }
  @media (max-width:  650px){
    .ecs2ndimgSection img{
      max-width: 200px;
      width: 100%;
    }
  }
  @media (max-width:  428px){
    .ecs2ndimgSection{
      flex-direction: column;
    }
    .eCSfrontSection h2{
      font-size: 4.5rem;
    }
    .eCs2ndSectionhead h2{
      font-size: 3rem;
    }
  }
  /* ////////////////////////////// */
  .textMainSection{
max-width: 1140px;
width: 100%;
margin-right: auto;
margin-left: auto;
padding: 2rem 1rem;
  }
  .textEscsection p{
text-align: justify;
max-width: 800px;
width: 100%;
margin-right: auto;
margin-left: auto;
color: white;
font-size: 1.2rem;
  }
  .textEscsection p span{
    color: rgb(3, 154, 3);
  }
  .treeImgsSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    
  }

  .treeImgsSection img{
    max-width: 200px;
    width: 100%;
    opacity: 0;
  transform: translateY(100%);
  animation: slideUp 3s forwards;
  animation-iteration-count: infinite; 
}



@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  .textMainSection hr{
    opacity: 1;
   border: 2px solid white;

  }
  .escBDSection{
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem 1rem;
  }
  .escBdHeading hr{
    opacity: 1;
    border: 2px solid white;
    margin-top: 2rem;
  }
  .escBdHeading h2{
    color: rgb(3, 154, 3);
    font-size: 3rem;
    text-align: center;
  }
  .escBenifits{
    padding-top: 2rem;
    display: flex;
    gap: 30px;
    align-items: center;
    
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  .escBDDiv{
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
 
  .escBDDiv section{
   
    padding: 1rem;
    background-color: white;
    border-radius: 40px;
  
  }

  .escBDDiv h2{
    color: rgb(3, 154, 3);
    font-size: 3rem;
text-align: center;

  }
  .escBDDiv p{
    text-align: justify;
    color: rgb(3, 154, 3);
    font-size: 1.2rem;

  }
  #escBDDivcd{
    animation: 4s slide-right;
    animation-iteration-count: infinite; 
    }
    @keyframes slide-right {
      from {
        margin-left: -100%;
      }
      to {
        margin-left: 0%;
      }
    }
    #escBDDivdc{
      animation: 4s slide-left;
      animation-iteration-count: infinite; 
      }
      @keyframes slide-left {
        from {
          margin-right: -100%;
        }
        to {
          margin-right: 0%;
        }
      }
  .escBDDiv div{
    
    padding: 1rem;
    background-color: rgb(159, 1, 1);
    border-radius: 40px;
  }
  .escBDDiv div h2{
   
    font-size: 3rem;
text-align: center;
    color: white;
    
  }
  .escBDDiv div p{
    text-align: justify;
    color: white;
    font-size: 1.2rem;
  }
  @media (max-width:  828px){
    .escBDDiv div h2{
      font-size: 2.5rem;
    }
    .treeImgsSection{
      gap: 30px;
    }
  }
  @media (max-width:  728px){
    .treeImgsSection img{
      max-width: 170px;
      width: 100%;
    }
    .textEscsection p{
      font-size: 1rem;
    }
  }
  @media (max-width:  680px){
    .escBdHeading h2{
      font-size: 2.5rem;
    }
.escBenifits{
  flex-direction: column;
}

.escBDDiv div p{

  font-size: 1rem;
}
.escBDDiv section p{

  font-size: 1rem;
}
.escBDDiv section h2{
  font-size: 2.5rem;
}
.escBDDiv div h2{

  font-size: 2rem;
}
  }
  @media (max-width:  580px){
    .treeImgsSection img{
      max-width: 120px;
      width: 100%;
    }
  }
  @media (max-width:  450px){
    .treeImgsSection img{
      max-width: 80px;
      width: 100%;
    }
  }
  .csr3rdDivSecLinks{
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   
    gap: 50px;
  }
  .csr3rdDivSecLinks a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    transition: border 0.5s ease;
  }
  
  .csr3rdDivSecLinks a:hover{
    border: 1px solid rgb(3, 163, 3);
  }
  .csr3rdDivSecLinks p{
    color: white;
    margin-top: 1rem;
    margin-bottom: 0px;
    font-size: 1.5rem;
    text-align: center;
  }
  .csr3rdDivSecLinks img{
    max-width: 220px;
    width: 100%;
  }