* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.goCv {
  background-color: black;
  font-family: "Antonio", sans-serif;
  color: white;
  padding-bottom: 5rem;
}
.goCvFirstdiv {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.goCvFirstSection {
  background-color: #24295e;
  border-radius: 6em/2em;
  padding: 3rem 1rem;

  border-bottom: 10px dashed rgb(24, 216, 24);
}

.goCvFirstSectionHeading h2 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #fff;

  padding: 3rem 0px;
  overflow: hidden;
  border-right: 0.2px solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 10px;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  animation-iteration-count: infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.goCvFirstSectionHeading hr {
  border: 2px solid rgb(34, 243, 34);
  opacity: 1;
  max-width: 600px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.goCvFirstSectionHeadingImg {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  padding: 3rem 0px;
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
#smartlearnerLogo {
  max-width: 300px;
  width: 100%;
}
.goCvFirstSectionHeadingImg img {
  max-width: 130px;
  width: 100%;
  padding: 1rem 1rem;
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 3s forwards;
  animation-iteration-count: infinite; 
}
@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 580px) {
  .goCvFirstSectionHeadingImg {
    display: block;
  }
  .goCvFirstSectionHeading h2 {
    font-size: 1.6rem;
  }
}
#goCv2ndSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.goCv2ndSection {
  text-align: center;
  padding: 2rem 0px;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
.goCv2ndSection h2 {
  font-size: 2rem;
  font-weight: 700;
}
.goCv2ndSection img {
  max-width: 200px;
  width: 100%;
}
.goCv2ndSection section {
  max-width: 800px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}
.goCv2ndSection section p {
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media (max-width: 627px) {
  .goCv2ndSection section p {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  #goCv2ndSection {
    flex-direction: column;
    gap: 10px;
  }
}
.sponsorHeadin h2 {
  text-align: center;
}
