* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.goingGreenProject {
  background-color: black;
  padding-bottom: 7rem;
  padding-top: 1rem;
  font-family: "Antonio", sans-serif;
}
.mainGoingGreenProject {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.gGPFrontSection {
  background-color: rgb(3, 154, 3);
  color: white;
  border-radius: 13em/3em;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}
.gGPFrontSection h2 {
  font-size: 8rem;
  margin-bottom: 3rem;
  text-align: center;
  color: white;
}
.gGPFrontSection hr {
  opacity: 1;
  border: 2px solid white;
  margin-bottom: 2rem;
}
.gGpFrontSectionD {
  display: flex;
  align-items: center;
  gap: 50px;
}
.gGpFrontImgS img {
  max-width: 300px;
  width: 100%;
}
.gGpFrontListP p {
  color: white;
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 2rem;
}
/* ///////////////////////////// */
.secondrySection{
  padding: 2rem 0px;
}
.secondryHeading h2{
  text-align: center;
  font-size: 5rem;
  color: white;
}
.secondryHeading hr{
  border: 2px solid white;
  opacity: 1;
}
.secondryImgSection {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 30px;
  padding: 5rem 1rem;
}
.secondryImgSection img{
  max-width: 400px;
  aspect-ratio: 1/1;
  /* object-fit: contain; */
  width: 100%;
}
.secondrySection hr{
  opacity: 1;
  border: 2px solid white;
}
@media (max-width:  728px){
  .gGPFrontSection h2{
    font-size: 6rem;
  }
  .gGpFrontListP p{
    font-size: 1rem;
  }
  .secondryHeading h2{
    font-size: 4rem;
  }
  .secondryImgSection{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 3rem 1rem;
  }
}
@media (max-width:  567px){
.gGpFrontSectionD{
  flex-direction: column;
}
.gGpFrontImgS img{
  max-width: 250px;
  width: 100%;
}
.gGPFrontSection h2{
  font-size: 5rem;
}
.secondryHeading h2{
  font-size: 3.5rem;
}
}
@media (max-width:  428px){
  .gGPFrontSection h2{
    font-size: 4rem;
  }
 
  .secondryHeading h2{
    font-size: 3rem;
  }
}
.prosConsSection{
  padding: 2rem 0px;
}
.prosConsSection hr{
  border: 1px solid rgb(167, 3, 3);
  opacity: 1;
  margin: 0px;
}
.ourProsConsdiv{
  display: flex;
  gap: 30px;
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.ourProsConsdiv hr{
  border: 2px solid rgb(3, 154, 3);
  opacity: 1;
}
.ourProsConsSection{
  padding: 2rem 1rem;
}
.ourProsConsSection h2{
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}
.ourProsConsSection p{
  color: white;
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 1rem;
}
.chartBarImgSec{
  text-align: center;
  padding: 2rem 1rem;
}

.chartBarImgSec h2{
  font-size: 5rem;
  text-align: center;
  color: rgb(3, 154, 3);
}
.chartBarImgSec img{
  max-width: 500px;
  padding: 2rem 1rem;
  width: 100%;
}
@media (max-width:  750px){
  .chartBarImgSec h2{
    font-size: 4.5rem;
  }
}
@media (max-width:  610px){
  .ourProsConsdiv{
    flex-direction: column;
  }
  .chartBarImgSec h2{
    font-size: 4rem;
  }
}
@media (max-width:  450px){
  .chartBarImgSec h2{
    font-size: 3rem;
  }
}
.treePlantationSection{
  padding-bottom: 2rem;
}
.treePlantationDiv h2{
  font-size: 3rem;
  text-align: center;
  color: rgb(3, 154, 3);
}
.treeIconDiv{
  text-align: center;
  padding: 2rem 1rem;
}
.treeIconDiv img{
  max-width: 500px;
  width: 100%;
}
.treeIconImgSection{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

}
.headingtreeNo h2{
  font-size: 7rem;
  text-align: center;
  margin-bottom: 8rem;
  color: rgb(3, 154, 3);
}
.plantImgSection img{
  max-width: 400px;
  width: 100%;
}
#handPlant{
  margin-bottom: 12rem;
}
#flowerPlant{
  margin-top: 10rem;
}
/* ///////////////////////////////// */
.ggOlSection ul{
  max-width: 700px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -10rem;
  padding-left: 0px;
}
.ggOlSection ul li{
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0px 1rem;
 
}
.ggOlSection ul li span{
  font-size: 3rem;
  max-width: 50px;
  width: 100%;
  color: rgb(3, 154, 3);
}
.ggOlSection ul li p{
  color: white;
  font-size: 2rem;
  text-align: justify;
}
@media (max-width:  728px){
  .treePlantationDiv h2{
    font-size: 2.5rem;
  }
  .treeIconImgSection{
    flex-direction: column;
    gap: 15px;
  }
  .headingtreeNo h2{
    margin-bottom: 0px;
  }
  #handPlant{
    margin-bottom: 0px;
  }
  #flowerPlant{
    margin-top: 0px;
  }
 
  .ggOlSection ul{
    max-width: 500px;
    width: 100%;
    margin-top: 0px;
  }
  .ggOlSection ul li span{
    font-size: 2rem;
   
  }
  .ggOlSection ul li p{
    
    font-size: 1.2rem;
    
  }
}
@media (max-width:  580px){
  .treePlantationDiv h2{
    font-size: 2rem;
  }
  .headingtreeNo h2{
    font-size: 5rem;
  }
  .ggOlSection ul li span{
    font-size: 1.5rem;
    max-width: 30px;
    width: 100%;
   
  }
  .ggOlSection ul li p{
    
    font-size: 1rem;
    
  }
}
/* 
//////////////////////////////////////// */
/* ////////////////////////////////////// */

.callUsSectiongg hr{
  border: 2px solid rgb(167, 3, 3);
  opacity: 1;
}
.getInvolved{
  padding: 2rem 0px;
  max-width: 500px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.getInvolved h2{
  font-size: 4rem;
  color: rgb(3, 154, 3);
  margin-bottom: 2rem;
}
.getInvolved p{
  color: white;
  font-size: 1.2rem;
}
.drivingLessonsCd {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 1rem 0px;
}
.drivingLessonsCd section {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 154, 3);
  padding: 5px 1rem;
}
.drivingLessonsCd section p {
  margin: 0px;
  color: white;
  font-size: 1.5rem;
  font-family: "Antonio", sans-serif;
}
#IconsS{
  font-size: 1.8rem;

  color: white;
}
/* //////////////////////// */

.socialFollowIcons {
  display: flex;
  justify-content: space-evenly;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem 0;
  border-radius: 10px;
  background-color: rgb(3, 154, 3);
}

.socialFollowIcons a {
  display: inline-block;
  background-color: white;
  border-radius: 6px;
  padding: 8px 10px 8px 10px;

  transition: transform 0.3s;
}

#FollowIcons {
  color: rgb(3, 154, 3);
  font-size: 1.7rem;
}

.socialFollowIcons a:hover {
  transform: translateY(-5px);
}

.socialFollowIcons i {
  font-size: 24px;
  color: #333;
}
@media (max-width:  680px){
  .getInvolved h2{
    font-size: 3.5rem;
  }
}
@media (max-width:  480px){
  .getInvolved h2{
    font-size: 3rem;
  }
}