* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}.TheHonestTruth {
  background-color: black;
  padding-bottom: 10rem;
  padding-top: 1rem;
  font-family: "Antonio", sans-serif;
}
.THTSec {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.eCSfrontSection {
  background-color: rgb(197, 5, 5);
  color: white;
  border-radius: 8em/2em;
  padding: 2rem 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.eCSfrontSection h2 {
  font-size: 7rem;
  margin-bottom: 3rem;
  text-align: center;
  color: white;
}
.eCSfrontSection hr {
  opacity: 1;
  border: 2px solid white;
  margin: 0px;
}
.eCSfrontSection img {
  margin: 2rem 0px;
  max-width: 400px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.eCSfrontSection p {
  color: white;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}
@media (max-width: 780px) {
  .eCSfrontSection h2 {
    font-size: 5.5rem;
  }
  .eCSfrontSection p {
    font-size: 1rem;
  }
}

@media (max-width: 428px) {
  .eCSfrontSection h2 {
    font-size: 4rem;
  }
}
.videosContentSections h2{
  color: white;
  text-align: center;
  font-size: 3rem;
}
.videosContentSections hr{
  border: 2px solid white;
  opacity: 1;
}

.innerTheorySupportContent{
  max-width: 800px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.theorySupportContentVideo iframe {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  line-height: 1;
  border: none;
}
.theorySupportContentVideosec {
  padding: 1rem 1rem;
  max-width: 800px;
  width: 100%;
  margin-right: auto;
 
  margin-left: auto;
}
.theorySupportContentVideosec video {
  width: 100%;
}
.textThtSection{
  padding: 2rem 0px;
}
.textThtSection h2{
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}
.textThtSection h2 span{
  color: #c3040b;
}
.textThtSection hr{
  opacity: 1;
  border: 2px solid white;
}
#textThtSection{
  text-align: center;
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}
#textThtSection p{
font-size: 1.2rem;
color: white;
}
#textThtSection button{
  padding: 7px 1.5rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 2em/0.5em;
  background-color: #ff0004;
  margin: 2rem 0px;
}
#textThtSection button:hover{
  border: 1px solid white;
  background-color: #8a0305cd;
}
@media (max-width: 780px) {
  .videosContentSections h2{
    font-size: 2.5rem;
  }
  #textThtSection p{
    font-size: 1rem;
  }
  #textThtSection button{
    font-size: 1.2rem;
  }
}

@media (max-width: 428px) {
  .videosContentSections h2{
    font-size: 2rem;
  }
}
/* //////////////////////////////////////////// */
.getInvolved{
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: #c3040b;
  padding: 2rem;
  border-radius: 8em/2em;
}
#getInvolvedHead h2{
  font-size: 3rem;
  text-align: center;
  color: white;

}
#getInvolvedHead hr{
  opacity: 1;
  border: 2px solid white;
 
}
 
#downwordArrow{
  
  color: white;
  font-size: 5rem;
}
.getInvolvedContentDiv{
  padding: 1rem 2rem;
}

.getInContentSection {
  text-align: center;
}
#downwordArrow{
  margin: 1rem 0px;
}
.getInContentSection h2{
  font-size: 2rem;
  color: white;
  text-align: center;

}
.getInContentSection hr{
  opacity: 1;
  border: 1px solid white;
  max-width: 500px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.getInContentSection p{
  color: white;
  padding: 0px 2rem;
  text-align: justify;
  font-size: 1rem;
  margin-bottom: 1rem;
}
/*//////////////////////////// Smartlearner stats /////////////////////////////// */
.smartleanerStats {
  background-color: #c3040b;
}
.smartleanerStatsSection {
  padding: 2rem 1rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
 
  text-align: center;
}
.smartleanerStatsSection hr {
  max-width: 500px;
  width: 100%;
  color: #fff;
  border: 2px solid #fff;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}
.smartleanerStatsSection h3 {
  font-size: 65px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2rem;
}
.smartleanerStatsSection P {
  color: #fff;
  margin-bottom: 1rem;
  letter-spacing: 6px;
}
.statsContaier {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.numberContainer {
  padding: 45px;

  border: 1px solid #fff;

  width: 100%;
}
.numberContainer span {
  color: #fff;
  font-size: 80px;
  font-weight: 500;
}
.numberContainer p {
  color: #fff;
}
#statslowerheading {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  line-height: 2.5;
}
@media (max-width: 728px) {
  .statsContaier {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .smartleanerStatsSection h3 {
    font-size: 35px;
  }
  .numberContainer {
    padding: 30px;
  }
  .numberContainer span {
    font-size: 45px;
  }
}
/* ///////////////////////////////////////////////////// */
.ourInvolmentSection {
  padding: 3rem 0px;
  text-align: center;
 
}
.ourInvolmentDiv {
  padding: 1rem;
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.ourInvolmentDiv h2 {
  color: #ff121a;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.ourInvolmentDiv hr {
  max-width: 500px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
  margin-bottom: 1rem;
  border: 2px solid #ff121a;
}
.ourInvolmentDiv p {
  margin-bottom: 1rem;
}
@media (max-width: 528px) {
  .ourInvolmentDiv h2 {
    font-size: 1.7rem;
  }
}
/* ////////////////////////////////////////////////////////////// */
.getInvolvedsection {
  padding: 2rem 0px;
  background-color: #ff121a;
 
}
.getInvolvedDiv {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}
.getInvolvedHeading h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.getInvolvedHeading hr {
  border: 2px solid #fff;
  opacity: 1;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.getInvolvedDivFlex {
  display: flex;

  width: 100%;
}
.getInvolvedDivFlex span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
  padding: 1rem;
}
.getInvolvedDetailsDiv {
  width: 100%;
  padding: 1rem;
  border: 1px solid #fff;
  background-color: #e60004;
}
.getInvolvedDetailsDiv h2 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
.getInvolvedDetailsDiv hr {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
  border: 2px solid #fff;
}
.getInvolvedDetailsDiv p {
  text-align: justify;
  color: #fff;
}
.getInvolvedDetailsDiv button {
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  border-radius: 6px;
  background-color: #fff;
  color: #e60004;
  margin: 1rem 0px;
}
.getInvolvedDetailsDiv button:hover {
  background-color: black;
  color: #fff;
  transition: 0.3s ease-in-out;
}
@media (max-width: 910px) {
  .getInvolvedDivFlex {
    display: block;
  }
}
@media (max-width: 428px) {
  .getInvolvedHeading h2 {
    font-size: 2rem;
  }
}
/* /////////////////////////why choose us css/////////// */
.features {
  padding: 2rem 0;
}
.features h4 {
  color: #ff0004;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2em;
  text-align: center;
 
  margin-bottom: 20px;
}
.features p {
  color: #7a7a7a;
  line-height: 28px;
  text-align: center;
  font-weight: 400;
 
}
.mainFeatures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  
  text-align: center;
  max-width: 1500px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.column {
  padding: 25px 25px 55px 25px;
  border-radius: 6em/2em;
  background-color: #ffffff;
  place-items: center;
  box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.06);

  transition: box-shadow 0.3s ease;
}
.column a {
  text-decoration: none;
  color: #ff0004;
}

.column:hover {
  box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.203);
  border: 1px solid #ff0004;
}
.column span {
  font-size: 50px;
  color: #706c6c;
  display: inline-block;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
}
.column h3 {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ff0004;
}
.column p {
  font-size: 16px;
 
  font-weight: 300;
  line-height: 1.7em;
  color: #7a7a7a;
}
.column span {
  background-color: #ff0004;
  padding: 30px;
  border-radius: 50%;
  display: inline-block;
  font-size: 50px;
  color: #fff;
}
#featuresIcon {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}
.column span:hover {
  transform: scale(1.2);
  background-color: #fff;
  transition: 0.3s ease-in-out;
  color: #ff0004;
}
#featuresIconSRU {
  font-size: 6rem;
}
@media (max-width: 1085px) {
  .features h4 {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .features h4 {
    font-size: 30px;
  }
  .mainFeatures {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
