* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
p {
  margin: 0px;
}
.adiPortalPageFirstdiv {
  background: url("../../assets/images/Home-banner-img-1.jpg") repeat center top;
  padding: 170px 0;
  font-family: "Roboto", sans-serif;
}
.adiPortalPageSeconddiv {
  background-color: #ebebeb;
  text-align: center;
  padding: 2rem 0px;
}
.adiPortalPageSeconddiv img {
  width: 100%;
}
.adiPortalPageSeconddiv h2 {
  font-size: 4rem;
  font-weight: 700;
  animation: slideFromBottomH2 2s ease-in-out;
}
.adiPortalPageSeconddiv p {
  line-height: 28px;
  color: #6e6e6e;
  font-family: "Roboto", sans-serif;
  animation: slideFromBottomH2 2s ease-in-out;
}
.adiPortalPageSeconddiv img {
  animation: slideFromBottom 1s ease-in-out;
}

@keyframes slideFromBottomH2 {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.adiPortalPageThirddiv {
  background-color: #eb0009;
  text-align: center;
  padding: 2rem;
}
.adiPortalPageThirddiv h2 {
  padding: 2rem 0px;
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.adiPortalVideo video {
  border: 5px solid #ebebeb;
  border-radius: 15px;
  max-width: 800px;
  width: 100%;
}
#hrAdiLearningText {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
#hrAdiLearningText p {
  width: 100%;
  max-width: 300px;
  margin-bottom: 0px;
  color: #fff;
  font: 1.1rem;
}
#hrAdiLearningText hr {
  margin: 0;
  width: 100%;
  border: 2px solid black;
  border-top: none;
  opacity: 1;
}
.adiTrainingPortalLearning {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  gap: 10px;
  margin-top: 1rem;
}
.adiTrainingPortalLearningInnerContent {
  margin: 1rem;
  width: 100%;
}
.adiTrainingPortalLearningInnerContent h2 {
  font-size: 2rem;
}
#adiPortalFaIcons {
  color: #252525;
  border-color: #252525;
  font-size: 100px;
  transition: transform 0.3s ease;
}
#adiPortalFaIcons:hover {
  color: #fff;
  transform: scale(1.1);
}
.adiPortalBtnLearning {
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  background-color: black;
  color: #fff;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  transition: 0.3s ease-in;
}
.adiPortalBtnLearning:hover {
  background-color: #fff;
  color: black;
}
.adiPortalFooterSection {
  text-align: center;
}
.adiFooterAddressInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  line-height: 30px;
  padding-top: 2rem;
}
.adiFooterAddressInfo p {
  margin-bottom: 0px;
}
.adiPortalFooterSection {
  padding: 2rem 0px;
  background-color: #252525;
}
.adiPortalFooterInnerContainer img {
  padding: 1rem 0px;
  max-width: 400px;
  width: 100%;
}
.adiFooterContactInfo {
  line-height: 40px;
}
.adiFooterContactInfo a {
  text-align: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
}
.adiFooterContactInfo a:hover {
  color: #eb0009;
}
.adiFooterAddressInfo p {
  color: #fff;
}
#adiFaIcons {
  color: #fff;
}
.adiSocialIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  width: 100%;
  padding-top: 2rem;
}
#adiSocialFaIcons {
  font-size: 2rem;
  color: #eb0009;
}
#adiSocialFaIcons:hover {
  color: #fff;
  transition: 0.3s ease-in-out;
}
@media (max-width: 500px) {
  .adiPortalPageSeconddiv h2 {
    font-size: 3rem;
  }
  .adiPortalPageThirddiv h2 {
    font-size: 3rem;
  }
  .adiTrainingPortalLearningInnerContent h2 {
    font-size: 1.5rem;
  }
  .adiTrainingPortalLearningInnerContent {
    margin: 0px;
  }
}
/* ///////////////////////partners section /////////////////// */
/* ///////////////////////partners section /////////////////// */
.ourPartnersSection {
    background-image: url("../../assets/images/ourpartners.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .bgOverlay {
    background-color: black;
    opacity: 0.2;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .ourPartnersSection h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  
    position: sticky;
  }
  .partnerSection {
    padding: 2rem 1rem;
    margin-top: 3rem;
    background-color: #ffffffe7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
  }
  
  .partnerSection img {
    width: 150px;
    aspect-ratio: 1/1;
    margin: 0px 1rem;
    object-fit: contain;
  
    position: sticky;
  }
  
  @media (max-width: 934px) {
    .partnerSection {
      
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     
    }
  }
  @media (max-width: 780px) {
    .partnerSection {
      
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     
    }
  }
  
  @media (max-width: 428px) {
    .ourPartnersSection h2 {
      color: #fff;
      font-size: 2rem;
      font-weight: 800;
      text-align: center;
    }
    .partnerSection {
      
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
     
    }
  }
  