* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
p {
  margin: 0px;
}
.ADITrainingPortalPage {
  font-family: "Antonio", sans-serif;
  background-color: black;
}
.adiPortalPageFirstdiv {
  position: relative;
  background: url("../../assets/images/bannerPdi.png");
  background-size: cover;
  background-position: bottom;
  padding: 250px 0;
  font-family: "Antonio", sans-serif;
}
.opicity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000000d0;
}
.adiPortalPageFirstdiv section {
  position: sticky;
}
.adiPortalPageFirstdiv section h2 {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  border-right: 0.2px solid rgb(255, 0, 0);
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(30, end) infinite,
    blink-caret 0.5s step-end infinite;
  padding: 2rem 0px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 0, 0);
  }
}
@media (max-width: 550px) {
  .adiPortalPageFirstdiv section h2 {
    font-size: 4rem;
  }
}
@media (max-width: 450px) {
  .adiPortalPageFirstdiv section h2 {
    font-size: 3rem;
  }
}
.adiPortalPageSeconddiv {
  background-color: #ebebeb;
  text-align: center;
  padding: 2rem 0px;
}
.adiPortalPageSeconddiv img {
  width: 100%;
}

.adiPortalPageSeconddiv p {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  max-width: 800px;
  margin: 0px auto;
  color: #ce0000;

  animation: slideFromBottomH2 2s ease-in-out;
}
@media (max-width: 720px) {
  .adiPortalPageSeconddiv p {
    font-size: 2rem;
  }
}
@media (max-width: 560px) {
  .adiPortalPageSeconddiv p {
    font-size: 1.5rem;
  }
}
@media (max-width: 430px) {
  .adiPortalPageSeconddiv p {
    font-size: 1.2rem;
  }
}
.adiPortalPageSeconddiv img {
  animation: slideFromBottom 1s ease-in-out;
}

@keyframes slideFromBottomH2 {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.adiPortalPageThirddiv {
  background-color: black;
  text-align: center;
  padding: 2rem;
}
.adiPortalPageThirddiv h2 {
  padding: 2rem 0px;
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
}
.adiLearningSupport h2 {
  padding: 2rem 0px;
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
  animation: slideFromBottom 2s ease-in-out infinite;
}
.adiPortalVideo iframe {
  border-radius: 30px;
  border-radius: 15px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0px 0px 55px 5px rgba(255, 255, 255, 0.171);
}
#hrAdiLearningText {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
#hrAdiLearningText p {
  width: 100%;
  max-width: 300px;
  margin-bottom: 0px;
  color: #fff;
  font: 1.1rem;
  animation: slideFromBottom 2s ease-in-out infinite;
}
#hrAdiLearningText hr {
  margin: 0;
  width: 100%;
  border: 2px solid rgb(255, 0, 0);
  border-top: none;
  opacity: 1;
}
.adiTrainingPortalLearning {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  gap: 10px;
  margin-top: 1rem;
}
.adiTrainingPortalLearningInnerContent {
  margin: 1rem;
  width: 100%;
}
.adiTrainingPortalLearningInnerContent h2 {
  font-size: 2rem;
}
#adiPortalFaIcons {
  color: #ce0000;
  border-color: #cf0000;
  font-size: 100px;
  transition: transform 0.3s ease;
}
#adiPortalFaIcons:hover {
  color: #fff;
  transform: scale(1.1);
}
.adiPortalBtnLearning {
  padding: 15px 30px;
  border: 1px solid red;
  border-radius: 6px;
  background-color: black;
  color: #fff;
  font-size: 1.1rem;

  transition: 0.3s ease-in;
}
.adiPortalBtnLearning:hover {
  background-color: #fff;
  color: black;
  border: none;
}
.adiPortalFooterSection {
  text-align: center;
}
.adiFooterAddressInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  line-height: 30px;
  padding-top: 1rem;
}
.adiFooterAddressInfo p {
  margin-bottom: 0px;
}
.adiPortalFooterSection {
  padding: 2rem 0px;
  background-color: #88000083;
}
.adiPortalFooterInnerContainer img {
  padding: 1rem 0px;
  max-width: 400px;
  width: 100%;
}
.adiFooterContactInfo {
  line-height: 40px;
}
.adiFooterContactInfo a {
  text-align: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
}
.adiFooterContactInfo a:hover {
  color: #eb0009;
}
.adiFooterAddressInfo p {
  color: #fff;
}
#adiFaIcons {
  color: #fff;
}
.adiSocialIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  width: 100%;
  padding-top: 2rem;
}
#adiSocialFaIcons {
  font-size: 2rem;
  color: #eb0009;
}
#adiSocialFaIcons:hover {
  color: #fff;
  transition: 0.3s ease-in-out;
}
@media (max-width: 500px) {
  .adiPortalPageSeconddiv h2 {
    font-size: 3rem;
  }
  .adiPortalPageThirddiv h2 {
    font-size: 3rem;
  }
  .adiTrainingPortalLearningInnerContent h2 {
    font-size: 1.5rem;
  }
  .adiTrainingPortalLearningInnerContent {
    margin: 0px;
  }
}
/* ///////////////////////partners section /////////////////// */
/* ///////////////////////partners section /////////////////// */
.ourPartnersSection {
  background-image: url("../../assets/images/ourpartners.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.bgOverlay {
  background-color: black;
  opacity: 0.2;
  position: absolute;
  height: 100%;
  width: 100%;
}
.ourPartnersSection h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;

  position: sticky;
}
.partnerSection {
  padding: 2rem 1rem;
  margin-top: 3rem;
  background-color: #ffffffe7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
}

.partnerSection img {
  width: 150px;
  aspect-ratio: 1/1;
  margin: 0px 1rem;
  object-fit: contain;

  position: sticky;
}

@media (max-width: 934px) {
  .partnerSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (max-width: 780px) {
  .partnerSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 428px) {
  .ourPartnersSection h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
  }
  .partnerSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}
