* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
  .navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ED2025;
    color: #fff;
    margin: 20px 0px;
    font-family: "Antonio", sans-serif;
  }
 
  .contactInfo {
    display: flex;
    padding: 8px 20px;
    flex-direction: row;
 
  }
  
  .contactInfo a {
    color: #fff;
    transition: ease 0.3s;
    margin: 0px 5px;
    text-decoration: none;
  }
  .contactInfo a:hover{
    color: rgb(160, 139, 139);
  }
  .navbarContentImg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
  }

  .logo img {
    max-width: 270px; 
    width: 100%;
  }
  .navLinks{
    display: flex;
    align-items: center;
    width: 45%;
    text-align: right;
    justify-content: right;
  }
 
  .navLinks ul {
    list-style-type: none;
    padding: 8px 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navLinks ul li {
    margin: 0px 7px;
    display: flex;
  }
  
  .navLinks ul span{
    display: flex;
    align-items: center;
  }
  
  .navLinks ul li a {
    text-decoration: none;
    color: #fff;
    transition: ease 0.3s;
  }
  
  .navLinks ul li a:hover {
    color: rgb(160, 139, 139);

  }
  .navShoppingCart{
    display: flex;
 
  }
  .navShoppingCart a{
    text-decoration: none;
    color: #fff;
    transition: ease 0.3s;
    padding: 8px 20px;
   
  }
  .navShoppingCart a:hover{
    color: rgb(160, 139, 139);
  }
  @media screen and (max-width: 1390px){
    .navbarContentImg{
      width: 65%;
    }
    .navLinks{
      width: 45%;
    }
  }
  @media screen and (max-width: 990px){
    .navbar {
       display: block;
      }
      .navbarContentImg{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        width: 100%;
      }
      .navLinks{
        justify-content: space-between;
      }
      .contactInfo{
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 5px;
      }
      .navLinks{
        padding-right: 20px;
        width: 100%;
      }
      .navLinks ul {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
      }
      .navShoppingCart a{
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
      }
      .logo img {
        max-width: 250px; 
        width: 100%;
      }
    
  }


  @media screen and (max-width: 490px) {
    .logo img {
       display: none;
      }
  }